<p style="color: green"><%= notice %></p>

<div id="title" style="margin:10px;">
  <h1>Tweets</h1>
</div>

<div id="search_box" style="margin:10px;">
  <%= form_with url: tweets_path, method: :get do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :query_text, placeholder: 'Buscar en twitter', value: params[:query_text], class:"form-control" %>
      <%= f.submit "Buscar", class: "btn btn-outline-secondary"%>
    </div>
  <% end %>
</div>


<div id="new_tweet" style="margin:10px;">
  <%= link_to "New tweet", new_tweet_path, class: "btn btn-primary" %>
</div>
<div id="tweets" style="margin:10px;">
  <table border="1" class="table">
    <% @tweets.each do |tweet| %>
      <%= render tweet %>
    <% end %>
  </table>
</div>

<div id="page_nav" style="margin:10px;">
  <%= raw pagy_nav(@pagy)%>
</div>