<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <div style="margin:10px;">
    <%= link_to "Editar tweet", edit_tweet_path(@tweet), class:"btn btn-outline-success" %> |
    <%= link_to "Volver a tweets", tweets_path, class: "btn btn-outline-secondary" %>
  </div>
  
  <div style="margin:10px;">
    <%= button_to "Eliminar tweet", @tweet, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
